* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #ffffff;

}  
ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.card{
  background: #ffffff;

  

}



.coinlist-image {
  width: 50px;
  margin: 0.8rem;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;

}

.coin:hover .delete-icon {
  display: block;
}

